/* ---------------------------------------------------------------------------- */
/* Tablet resolution styles for screen widths between 701px and 1279px */

@media screen and (min-width: 701px) and (max-width: 1279px) {
	.header {
		background-color: #dfdede;
		padding: 0;
		height: 600px;
		font-family: 'Anton', sans-serif;
	}

	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		height: 39px;
		overflow: visible;
	}

	.navitem {
		margin-right: 0;
		flex: 1;
		text-align: center;
	}

	.sub-nav {
		position: absolute;
		bottom: 100px;
		left: 0;
		width: 100%;
		display: none;
		z-index: 200;
		top: 39px;
	}

	.navigation > .navitem:first-child {
		display: none;
	}

	.banner {
		width: 100%;
		height: 100%;
		background: url(../anti_images/Autumn-Boy-Londsson-ASSC-Anti-Social-Social-Club-Hoodie-Men-Women-Brand-Clothing-Top-Quality-GD.jpg_640x640.jpg)
			#000000 center;
		position: relative;
		overflow: hidden;
		top: 0;
		display: block;
	}

	.content {
		padding: 15px;
		margin-top: 30px;
	}

	.content-section {
		display: flex;
		flex-direction: column;
	}

	.left {
		order: 2;
		width: auto;
	}

	.main {
		order: 1;
		width: auto;
	}

	.main p {
		font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New",
			"monospace";
		color: black;
		text-align: center;
		padding: 60px;
		height: 100px;
		word-spacing: -2px;
	}

	.main .main-top {
		width: 450px;
		height: 330px;
		margin: 0 auto;
	}

	.main .articles {
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: row;
	}

	.right {
		order: 3;
		width: auto;
	}

	.sub-display {
		display: block;
	}

	.footer {
		margin-top: 0;
	}
}
